<div class="form-container">
    <div class="form-title">
        3. СВЕДЕНИЯ О ПРИНИМАЮЩЕЙ СТОРОНЕ
    </div>

    <div class="form-row">
        <span class="form-label"></span>
        <span class="small-text">(за исключением случая, предусмотренного частью 3.1 статьи 22 Федерального закона "О миграционном учете иностранных граждан и лиц без гражданства в Российской Федерации")</span>
    </div>

    <div class="form-row">
        <span class="form-label">Для принимающей стороны - организации заполняется ответственным лицом</span>

        <span class="checkbox-option" style="margin-left: 10px;">
            <span>организация</span>
            <span class="checkbox option" id="person-organization" data-field="place-type" data-value="organization"></span>
        </span>

        <span class="checkbox-option" style="margin-left: 15px;">
            <span>физическое лицо</span>
            <span class="checkbox option" id="person-individual" data-field="place-type" data-value="individual"></span>
        </span>
    </div>

    <div class="form-row">
        <span class="form-label">Фамилия</span>
        <div class="checkbox-grid" id="host-surname"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Имя</span>
        <div class="checkbox-grid" id="host-name"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Отчество (при наличии)</span>
        <div class="checkbox-grid" id="host-patronymic"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Документ, удостоверяющий личность:</span>
        <div class="checkbox-grid" id="host-document-type"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Серия</span>
        <div class="checkbox-grid" id="host-document-series"></div>
        <span class="form-label" style="min-width: 40px; margin-left: 10px;">№</span>
        <div class="checkbox-grid" id="host-document-number"></div>
    </div>

    <div class="form-row">
        <span class="form-label"></span>
        <span class="small-text">Дата выдачи:</span>
        <span class="small-text" style="margin-left: 200px;">Срок действия до:</span>
    </div>

    <div class="form-row">
        <span class="form-label">число</span>
        <div class="checkbox-grid" id="host-issue-day"></div>
        <span class="form-label" style="min-width: 60px; margin-left: 10px;">месяц</span>
        <div class="checkbox-grid" id="host-issue-month"></div>
        <span class="form-label" style="min-width: 40px; margin-left: 10px;">год</span>
        <div class="checkbox-grid" id="host-issue-year"></div>
        <span class="form-label" style="min-width: 60px; margin-left: 20px;">число</span>
        <div class="checkbox-grid" id="host-expiry-day"></div>
        <span class="form-label" style="min-width: 60px; margin-left: 10px;">месяц</span>
        <div class="checkbox-grid" id="host-expiry-month"></div>
        <span class="form-label" style="min-width: 40px; margin-left: 10px;">год</span>
        <div class="checkbox-grid" id="host-expiry-year"></div>
    </div>

    <div class="note-text">(в случае ограниченного срока действия документа)</div>

    <div class="section-title">Место жительства</div>

    <div class="form-row">
        <span class="form-label">Субъект Российской Федерации, муниципальное образование (федеральная территория)</span>
        <div class="checkbox-grid" id="host-region"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Городское и сельское поселение (при наличии), внутригородской район (при наличии), межселенная территория (при наличии)</span>
        <div class="checkbox-grid" id="host-city"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Населенный пункт (при наличии), элемент планировочной структуры (при наличии)</span>
        <div class="checkbox-grid" id="host-area"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Элемент улично-дорожной сети (при наличии)</span>
        <div class="checkbox-grid" id="host-road"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Здание, строение, сооружение</span>
        <div style="display: flex; gap: 1rem;">
            <input id="host-building-1">
            <input id="host-building-2">
            <input id="host-building-3">
        </div>
    </div>

    <div class="form-row">
        <span class="form-label">Помещение (при наличии), помещение в пределах квартиры (при наличии)</span>
        <div style="display: flex; gap: 1rem; margin-left: 10px;">
            <input id="host-room-1">
            <input id="host-room-2">
        </div>
    </div>

    <div class="form-row">
        <span class="form-label">Телефон (при наличии)</span>
        <span class="small-text">+7</span>
        <div class="checkbox-grid" id="host-phone"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Наименование организации</span>
        <div class="checkbox-grid" id="host-name-org-line-1"></div>
    </div>

    <div class="form-row">
        <div class="checkbox-grid" id="host-name-org-line-2"></div>
    </div>

     <div class="form-row">
         <span class="form-label">ИНН</span>
        <div class="checkbox-grid" id="host-org-inn"></div>
    </div>

    <div class="section-title">Адрес организации</div>

    <div class="form-row">
        <span class="form-label">Субъект Российской Федерации, муниципальное образование (федеральная территория)</span>
        <div class="checkbox-grid" id="host-org-region"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Городское и сельское поселение (при наличии), внутригородской район (при наличии), межселенная территория (при наличии)</span>
        <div class="checkbox-grid" id="host-org-city"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Населенный пункт (при наличии), элемент планировочной структуры (при наличии)</span>
        <div class="checkbox-grid" id="host-org-area"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Элемент улично-дорожной сети (при наличии)</span>
        <div class="checkbox-grid" id="host-org-road"></div>
    </div>

    <div class="form-row">
        <span class="form-label">Здание, строение, сооружение</span>
        <div style="display: flex; gap: 1rem;">
            <input id="host-org-building-1">
            <input id="host-org-building-2">
            <input id="host-org-building-3">
        </div>
    </div>

    <div class="form-row">
        <span class="form-label">Помещение (при наличии), помещение в пределах квартиры (при наличии)</span>
        <div style="display: flex; gap: 1rem; margin-left: 10px;">
            <input id="host-org-room-1">
            <input id="host-org-room-2">
        </div>
    </div>
</div>

